#### Data Manipulation with pandas

In [5]:
# Import pandas using the alias pd
import pandas as pd

homelessness = pd.read_csv('homelessness.csv')

# Print the head of the homelessness data
print(homelessness.head())

# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

# Sort homelessness by individual
homelessness_ind = homelessness.sort_values('individuals')

# Print the top few rows
print(homelessness_ind.head())

# Select the individuals column
individuals = homelessness['individuals']

# Print the head of the result
print(individuals.head())

# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals']>10000]

# See the result
print(ind_gt_10k)

# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness['region']=='South Atlantic') | (homelessness['region']=='Mid-Atlantic')]

# See the result
print(south_mid_atlantic)

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama         2570             864    4887681
1             Pacific      Alaska         1434             582     735139
2            Mountain     Arizona         7259            2606    7158024
3  West South Central    Arkansas         2280             432    3009733
4             Pacific  California       109008           20964   39461588
[['East South Central' 'Alabama' 2570 864 4887681]
 ['Pacific' 'Alaska' 1434 582 735139]
 ['Mountain' 'Arizona' 7259 2606 7158024]
 ['West South Central' 'Arkansas' 2280 432 3009733]
 ['Pacific' 'California' 109008 20964 39461588]
 ['Mountain' 'Colorado' 7607 3250 5691287]
 ['New England' 'Connecticut' 2280 1696 3571520]
 ['South Atlantic' 'Delaware' 708 374 965479]
 ['South Atlantic' 'District of Columbia' 3770 3134 701547]
 ['South Atlantic' 'Florida' 21443 9587 21244317]
 ['South Atlantic' 'Georgia' 6943 2556 10511131]
 ['Pacific' 'Hawaii' 4131 2399 1420593]
 ['Mountain' 'Idaho' 1297 715 1750536]
 ['East North Central' 'Illinois' 6752 3891 12723071]
 ['East North Central' 'Indiana' 3776 1482 6695497]
 ['West North Central' 'Iowa' 1711 1038 3148618]
 ['West North Central' 'Kansas' 1443 773 2911359]
 ['East South Central' 'Kentucky' 2735 953 4461153]
 ['West South Central' 'Louisiana' 2540 519 4659690]
 ['New England' 'Maine' 1450 1066 1339057]
 ['South Atlantic' 'Maryland' 4914 2230 6035802]
 ['New England' 'Massachusetts' 6811 13257 6882635]
 ['East North Central' 'Michigan' 5209 3142 9984072]
 ['West North Central' 'Minnesota' 3993 3250 5606249]
 ['East South Central' 'Mississippi' 1024 328 2981020]
 ['West North Central' 'Missouri' 3776 2107 6121623]
 ['Mountain' 'Montana' 983 422 1060665]
 ['West North Central' 'Nebraska' 1745 676 1925614]
 ['Mountain' 'Nevada' 7058 486 3027341]
 ['New England' 'New Hampshire' 835 615 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048 3350 8886025]
 ['Mountain' 'New Mexico' 1949 602 2092741]
 ['Mid-Atlantic' 'New York' 39827 52070 19530351]
 ['South Atlantic' 'North Carolina' 6451 2817 10381615]
 ['West North Central' 'North Dakota' 467 75 758080]
 ['East North Central' 'Ohio' 6929 3320 11676341]
 ['West South Central' 'Oklahoma' 2823 1048 3940235]
 ['Pacific' 'Oregon' 11139 3337 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163 5349 12800922]
 ['New England' 'Rhode Island' 747 354 1058287]
 ['South Atlantic' 'South Carolina' 3082 851 5084156]
 ['West North Central' 'South Dakota' 836 323 878698]
 ['East South Central' 'Tennessee' 6139 1744 6771631]
 ['West South Central' 'Texas' 19199 6111 28628666]
 ['Mountain' 'Utah' 1904 972 3153550]
 ['New England' 'Vermont' 780 511 624358]
 ['South Atlantic' 'Virginia' 3928 2047 8501286]
 ['Pacific' 'Washington' 16424 5880 7523869]
 ['South Atlantic' 'West Virginia' 1021 222 1804291]
 ['East North Central' 'Wisconsin' 2740 2167 5807406]
 ['Mountain' 'Wyoming' 434 205 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)
                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming          434             205     577601
34  West North Central  North Dakota          467              75     758080
7       South Atlantic      Delaware          708             374     965479
39         New England  Rhode Island          747             354    1058287
45         New England       Vermont          780             511     624358
0      2570
1      1434
2      7259
3      2280
4    109008
Name: individuals, dtype: int64
                region       state  individuals  family_members  state_pop
4              Pacific  California       109008           20964   39461588
9       South Atlantic     Florida        21443            9587   21244317
32        Mid-Atlantic    New York        39827           52070   19530351
37             Pacific      Oregon        11139            3337    4181886
43  West South Central       Texas        19199            6111   28628666
47             Pacific  Washington        16424            5880    7523869
            region                 state  individuals  family_members  \
7   South Atlantic              Delaware          708             374
8   South Atlantic  District of Columbia         3770            3134
9   South Atlantic               Florida        21443            9587
10  South Atlantic               Georgia         6943            2556
20  South Atlantic              Maryland         4914            2230
30    Mid-Atlantic            New Jersey         6048            3350
32    Mid-Atlantic              New York        39827           52070
33  South Atlantic        North Carolina         6451            2817
38    Mid-Atlantic          Pennsylvania         8163            5349
40  South Atlantic        South Carolina         3082             851
46  South Atlantic              Virginia         3928            2047
48  South Atlantic         West Virginia         1021             222

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291